.serves{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 13px;
    padding-top: 60px;

    &__info{
        display: flex;
        flex-direction: column;
        gap: 10px;

        h3{
            font-size: 16px;
        }

        p{
            font-size: 12px;
            color: #AAAAAA;
        }
    }
}

.serves__div{
    display: flex;
    align-items: center;
    justify-content: space-between;

}